*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-color: #f1f2f3;
}

.noto-sans-font-bold{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-font{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 325;
  font-style: light;
  font-variation-settings:
    "wdth" 100;
}

header{
  background: url(header.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 16px;
  height: 500px;
}

#header_ad{
  transform: translate(-50%, -12%);
  width: 50%;
}

#header_ad p{
  color: white;
  margin: 10px;
  margin-bottom: 40px;
}

#header_ad img{
  width: 60%;
}

#header_ad #button{
  color: black;
  border-radius: 24px;
  background-color: #ffef00;
  padding: 16px 32px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav{
  font-family: "Noto-Sans", sans-serif;
  height: 63px;
  background-color: white;
  display: flex;
  top: 0;
  align-items: stretch;
}

#title img{
  width: 95px;
  margin-left: 21px;
  margin-top: 12px;
}

#links{
  margin-left: 35px;
  display: flex;
  align-items: stretch;
  white-space: nowrap;
}

#links > li > a{
  color: black;
  display: inline-block;
  padding: 0px 20px;
  font-size: 15px;
  width: 100;
}

#links > li{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#links > li:hover > a{
  color: dodgerblue;
}

#links > li:hover .dropdown{
  display: inline-block;
  white-space: nowrap;
}

.dropdown{
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 10;
  background: #232b2d;
  display: none;
  border-radius: 3px;
  padding: 14px 26px;
}

.dropdown:hover{
  display: inline-block;
  white-space: nowrap;
}

.dropdown a{
  display: inline-block;
  text-align: center;
  color: white;
  padding: 14px 5px;
}

.dropdown a:hover{
  color: #0077DA;
}

.triangle{
  width: 12px;
  height: 12px;
  background: #212b2e;
  clip-path: polygon(50% 25%, 0% 100%, 100% 100%);
  position: absolute;
  top: 0;
}

#specialnav{
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.items{
  height: 550px;
  margin: 25px 10px;
  background-color: white;
  width: 20%;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.items img{
  width: 100%;
}

.items h1{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #222;
  font-weight: normal;
}

.items p{
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #222
}

.items h2{
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
  text-decoration: underline;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

#container1{
  display: flex;
  justify-content: center;
  align-items: center;
}

#italics{
  font-style: italic;
}

#ad{
  background-image: url(ad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 16px;
  height: 60vh;
}

#ad img{
  width: 363px;
}

#ad p{
  color: white;
  margin: 10px;
}

#ad #button{
  color: white;
  border-radius: 24px;
  background-color: #0318E4;
  padding: 16px 32px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

#ad #small_text{
  font-size: 10px;
}

.after{
  background-color: white;
}

#after{
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  margin: 0 15%;
  font-size: 14px;
}

.trending{
  background-color: #054553;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.trends{
  margin: 0 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.trends img{
  width: 100%;
}

.trends h2{
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}

.trends p{
  font-size: 16px;
  margin: 30px 0;
  text-align: center;
  color: white;
}

#tritle{
  text-align: center;
  color: white;
  background-color: #054553;
  padding: 24px 0;
}

.coming{
  display: flex;
  justify-content: center;
  align-items: center;
}

.soons{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.soon{
  margin: 0 10px;
  width: 16%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#mini_title{
  font-size: 20px;
  display: flex;
  margin-top: 6px;
  margin-left: 2px;
}

#when{
  font-size: 14px;
  color: #47484a;
  text-align: left;
  margin-left: 2px;
}

.soon img{
  width: 100%;
  border-radius: 5px;
}

.credits img{
  width: 100%;
}

.credits{
  margin-top: 0;
}

.cards{
 margin-bottom: 0;  
}

.cards img{
  width: 100%;
}

.items2{
  height: 550px;
  margin: 25px 10px;
  background-color: white;
  width: 43%;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.items2 img{
  width: 100%;
}

.items2 h1{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #222;
  font-weight: normal;
}

.items2 p{
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #222
}

.items2 h2{
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
  text-decoration: underline;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

#adder1{
  margin-left: 100px;
}

#adder2{
  margin-right: 100px;
}

#tritle1{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 60px;
}

.tritle2{
  text-align: center;
  margin-top: 76px;
  margin-bottom: 24px;
}

/* color: #0077da;
color: #1786eb; */